.Layout {
  height: 80vh;
  background-image: url("https://images.unsplash.com/photo-1605379399642-870262d3d051?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1981&q=80");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}
